.col-gallery {
    overflow: hidden;
    position: relative;
  }
  
  .slide-gallery {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.275s ease-in-out, visibility 0s 0.275s;
    visibility: hidden;
    will-change: transform;
    transform: translateY(100%);
  }
  
  .row-gallery:hover ~ .row-gallery .slide-gallery {
    transform: translateY(-100%);
  }
  .row-gallery:hover .slide-gallery {
    transform: translateX(100%);
  }
  .row-gallery:hover .col-gallery:hover ~ .col-gallery .slide-gallery {
    transform: translateX(-100%);
  }
  .row-gallery:hover .col-gallery:hover .slide-gallery {
    transform: none;
    visibility: visible;
    transition-delay: 0s;
  }
  
  title-gallery {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 1.5em 0.5rem 1em;
    text-align: center;
  }
  
  .container-gallery {
    margin-top: 15% !important;
    margin: 0 auto;
    padding: 2rem;
    max-width: 1200px;
    font: 14px/1.5 "Fira Sans", sans-serif;
    box-sizing: border-box;
  }
  
  .row-gallery {
    display: flex;
  }
  
  .col-gallery {
    color: #fff;
    flex: 1 1 auto;
    min-height: 260px;
    position: relative;
  }
  .col-gallery h2 {
    font-weight: 300;
    font-size: 1.33333rem;
    line-height: 1.25;
    margin: 0;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 0;
  }
  
  .col-gallery:nth-child(2) {
    min-width: 20%;
  }
  
  .col-gallery:nth-child(4) {
    min-width: 33%;
  }
  
  .col-gallery:nth-child(3) + .col-gallery:nth-child(3) {
    min-width: 50%;
  }
  
  .photo-container {
    background: #0f0523 50% 50%/cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 1s;
    transform-origin: bottom right;
  }
  .photo-container::before {
    background: linear-gradient(transparent, rgba(67, 17, 51, 0.5), #000320);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .col-gallery:hover .photo-container {
    transform: scale(1.25);
  }
  
  .slide-gallery {
    background: rgba(25, 1, 21, 0.8);
    padding: 0 1.5rem;
  }
