.container-gallery {
  margin-top: 15% !important;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1200px;
  font: 14px/1.5 "Fira Sans", sans-serif;
  box-sizing: border-box;
}

.row-gallery {
  display: flex;
}

.col-gallery {
  color: #fff;
  flex: 1 1 auto;
  min-height: 260px;
  position: relative;
}
.col-gallery h2 {
  font-weight: 300;
  font-size: 1.33333rem;
  line-height: 1.25;
  margin: 0;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 6;
  transition: all 1s;
}

.photo-container {
  background: #0f0523 50% 50% / cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 1s;
}
.photo-container::before {
  background: linear-gradient(transparent, rgba(67, 17, 51, 0.5), #000320);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.col-gallery:hover h2 {
  z-index: 6;
  transform: translate3d(10px, 10px, 15px);
  perspective: 1000px;
}
.col-gallery:hover .photo-container {
  z-index: 6;
  transform: translate3d(10px, 10px, 15px);
  perspective: 1000px;
}
