.woodyRun {
    /* Tamaño de la viñeta individual */
    width: 174.75px;
    height: 137px;
    /* Cómo hay establecido un tamaño, centramos con margin:auto */
    margin: auto;
    /* Cargamos el sprite (el repeat-x se puede omitir, por defecto se repite) */
    background: url('../asset/correWoody.png') repeat-x;
    background-size: cover;
    /* Aplicamos la animación "walk": 0.8seg, 6 viñetas y repetimos infinitamente */
    animation: walk .8s steps(4) infinite,moveWoody 5s linear infinite;
    /* Posicionamos el personaje sobre el camino de madera */
    position: relsative;
    bottom: 34px;
    
}


/* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */

@keyframes moveWoody {
    0%{
        transform: translateX(-400%);
    }
    100%{
        transform: translateX(310%);
    }
}
@keyframes walk {
    /* Partimos de la primera viñeta del sprite sheet */
    0% {
        background-position: 0
    }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% {
        background-position: 699px
    }
}